@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Home{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, #030043, #00166b);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.passfoto{
    position: relative;
    width: 20%;
    height: 5%;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    z-index: 99;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px 80px;
}

header nav a{
    margin-left: 80px;
    color: white;
    font-size: 25px;
    transition: .4s;
}


header nav .active {
    color: greenyellow;
}

header nav a:hover{
    color: turquoise;
}

.Home h1{
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 99;
    background-color: #000;
    background-image: linear-gradient(to right, turquoise 5%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Home img{
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.layer{
    height: 100%;
    bottom: 0;
}

.light{
    opacity: 0;
}

.mountains{
    bottom: 0;
}

.stars{
    top: 0;
}

.About{
    min-height: 100vh;
    background-color: #06001b;
    color: white;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.About h1{
    font-size: 50px;
}

.About p{
    font-size: 17px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}